.button-primary {
  background-color: #2bbdee;
  border-color: #00d1f7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.button-primary:hover {
  background-color: #009ee2;
  border-color: #009ee2;
}

.button-secondary {
  background-color: #f5f5f5;
  border-color: #00d1f7;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}
